<%- include('partials/header') %>

    <%- include('partials/nav') %>

        <div class="container-xxl">
            <h1 class="h1 display-5">
                <%=userEntry.date%>
            </h1><small class="text-muted">
                Rating: <%=userEntry.rating%>
            </small><span class="badge rounded-pill bg-primary">
                <%=userEntry.tag%>
            </span>
            <h4>Leadership Seminar</h4>

            <p>
                <%=userEntry.entry%>
            </p>

            <a href="/l">Back to Entries</a>

            <%- include('partials/footer') %>