<%- include('partials/header') %>

    <%- include('partials/nav') %>

        <div class="container-xxl">
            <h1 class="h1 display-5">Welcome, <%=user%>
            </h1>

            <div class="dropdown pt-3 fs-6">
                <div class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenu2"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Calender View
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><a class="calenderView dropdown-item" selected="selected" href="/" type="button">Calender
                                View</a>
                        </li>
                        <li><a class="listView dropdown-item" href="/l">List View</a></li>
                    </ul>
                </div>
                <hr>
            </div>


            <div class="calender">
                <div class="month">
                    <ul>
                        <li class="prev">
                            <button class='monthPrev btn btn-light'>
                                &#10094;
                            </button>
                        </li>
                        <li class="next">
                            <button class="monthNext btn btn-light">
                                &#10095;
                            </button>
                        </li>
                        <li><span>January</span><br><span class="year" style="font-size:18px">1995</span></li>
                    </ul>
                </div>

                <ul class="weekdays">
                    <li class="mo">Mo</li>
                    <li class="tu">Tu</li>
                    <li class="we">We</li>
                    <li class="th">Th</li>
                    <li class="fr">Fr</li>
                    <li class="sa">Sa</li>
                    <li class="su">Su</li>
                </ul>

                <ul class="days">


                    <% for (let i=1; i < 32; i++) { %>
                        <%let hasEntry=false;%>
                            <%for (let entry of userEntries) {%>
                                <%let dayNumber=entry.date_num.slice(-2);%>
                                    <%if (dayNumber==i) {%>
                                        <%hasEntry=true;%>
                                            <%}%>
                                                <%}%>
                                                    <%if (hasEntry===true) {%>
                                                        <%if (i==29) {%>
                                                            <li class="eachDay twoNine"><span
                                                                    class="eachDay-has-entry"></span>29</li>
                                                            <%}%>
                                                                <%if (i==30) {%>
                                                                    <li class="eachDay threeZero"><span
                                                                            class="eachDay-has-entry"></span>30</li>
                                                                    <%}%>
                                                                        <%if (i==31) {%>
                                                                            <li class="eachDay threeOne"><span
                                                                                    class="eachDay-has-entry"></span>31
                                                                            </li>
                                                                            <%} else {%>
                                                                                <li class="eachDay"><span
                                                                                        class="eachDay-has-entry"></span>
                                                                                    <%=i%>
                                                                                </li>
                                                                                <%}%>
                                                                                    <%} else {%>
                                                                                        <%if (i==29) {%>
                                                                                            <li class="eachDay twoNine">
                                                                                                <span class=""></span>29
                                                                                            </li>
                                                                                            <%}%>
                                                                                                <%if (i==30) {%>
                                                                                                    <li
                                                                                                        class="eachDay threeZero">
                                                                                                        <span
                                                                                                            class=""></span>30
                                                                                                    </li>
                                                                                                    <%}%>
                                                                                                        <%if (i==31) {%>
                                                                                                            <li
                                                                                                                class="eachDay threeOne">
                                                                                                                <span
                                                                                                                    class=""></span>31
                                                                                                            </li>
                                                                                                            <%} else {%>
                                                                                                                <li
                                                                                                                    class="eachDay">
                                                                                                                    <span
                                                                                                                        class=""></span>
                                                                                                                    <%=i%>
                                                                                                                </li>
                                                                                                                <%}%>
                                                                                                                    <%}%>
                                                                                                                        <%}%>


                </ul>




                <hr>





            </div>

        </div>
        <script src="/js/homepageScript.js"></script>

        <%- include('partials/footer') %>